<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Automative Kickstart</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light-transparent fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#"><p class="AK">AUTOMATIVE KICKSTART</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#section1">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section2">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#section3">SERVICES</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="section1" class="section mb-5">
  <div class="container text-center">
    <div class="introwel">
      <h1 class="welcome-text">Welcome to Automative Kickstart</h1>
      <img src="{{ url_for('static', filename='img/idea.png') }}" alt="Idea Icon" width="80" height="80">
    </div>
    <div class="row">
      <div class="col-sm-4 mb-4">
        <div class="glasswater">
          <div class="sparkles">
            <img src="{{ url_for('static', filename='img/sparkles.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          INNOVATIVE
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="glasswater">
          <div class="pencils">
            <img src="{{ url_for('static', filename='img/pencils.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          CREATIVE
        </div>
      </div>
      <div class="col-sm-4 mb-4">
        <div class="glasswater">
          <div class="glasses">
            <img src="{{ url_for('static', filename='img/glasses.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          TRENDY
        </div>
      </div>
    </div>
  </div>
</section>

<section id="section2" class="section mb-5">
  <div class="container text-center">
    <div class="section2-frame">
      <p class="section2-text">Automative Kickstart provides comprehensive financial backing and expert mentoring to startups and entrepreneurs. Our mission is to empower innovative ideas by offering strategic funding and guidance, ensuring every project has the support needed to succeed in today's competitive landscape.</p>
    </div>
  </div>
</section>

<section id="section3" class="section mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="glasswater">
          <div class="sparkles">
            <img src="{{ url_for('static', filename='img/sparkles.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          INNOVATIVE
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="glasswater">
          <div class="pencils">
            <img src="{{ url_for('static', filename='img/pencils.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          CREATIVE
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="glasswater">
          <div class="glasses">
            <img src="{{ url_for('static', filename='img/glasses.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          TRENDY
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="glasswater">
          <div class="sparkles">
            <img src="{{ url_for('static', filename='img/sparkles.png') }}" alt="Sparks Icon" width="100" height="100">
          </div>
          INNOVATIVE
        </div>
      </div>
    </div>
    <div class="frame2">
      <a class="predict btn-purple" href="/about">PREDICT</a>
    </div>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
